#sched-header #sched-logo h1 { width:1024px; }
#sched-header #sched-logo h1 a span { background:url(/img/logo.png) no-repeat; }
#sched-header #sched-logo h1 a{ color: white; width:1024px; }
#sched-header #sched-logo h1 a:hover { color: white; }